__pycache__/
pyvenv/
build/
data/
*.swp
.~lock*
__META_MAIN__.py

# KiCAD.
*-backups/
*.lck
*.bak
*.kicad_prl
_autosave-*
fp-info-cache
\#auto_saved_files\#

# SolidWorks.
~$*



# Misc.
MAIN_ESP32_MAC_ADDRESS.txt
